{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container main">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top" src="../../images/fond1.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{ .Title }}</h4>
          <p class="card-text">{{ .Description }}</p>
          <hr>
          <p class="card-text">{{ .Content }}</p>
        </div>
        <div class="card-footer text-muted">
          Publié le {{ .Date.Format "2 January 2006" }}
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{ .Date.Format "2" }} {{ index $.Site.Data.mois_data.mois .Date.Month }} {{ .Date.Format "2006" }}</h4>
          <p class="card-text">{{ .WordCount }} mots.</p>
          <hr>
          <p class="card-title">Categories :</p>
          <p class="card-text">
            {{ range .Params.categories }}
              <a class="label" href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </p>
        </div>
      </div>
      {{ partial "facebook.html" . }}
    </div>
  </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
