.main {
	margin-top: 30px;
}

footer {
	margin: 50px 0;
}

hr {
	width: 100%;
}

.navbar {
	min-height: 56px;
}

.card {
	margin-bottom: 10px;
}

.contenu {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
}

.contenu:hover .overlay {
	opacity: 1;
}

.text {
	or: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.newsletter {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: 50% 50%;
	background-image: url('../images/pommes.jpg');
}

.block-newsletter {
	background-color: #2ABA66;
	border-radius: 4px;
	margin: 2%;
	padding: 2%;
}

.title-newsletter {
	padding-top: 2%;
}

.form-newsletter {
	width: 80%;
}

.input-newsletter {
	width: 100%;
	background-color: #FFF;
	border: 2px solid transparent;
	box-shadow: 0 0 1px #3d464d;
	padding: .5em 1em;
	transition: border 0.2s, box-shadow 0.2s;
}

@keyframes greenBoxShadow {
	0% {
		box-shadow: 0 0 0 0 rgba(42, 186, 102, 1);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

.green {
	color: #2ABA66;
}

.social {
	margin: 10px;
}
.social:hover {
	color: #44A909;
}

.link-btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 0.25em 2em;
	text-decoration: none;
	border-radius: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	font-weight: bold;
	font-size: 16px;
	border: 2px solid #2ABA66;
	color: #2ABA66;
}

.link-btn:hover {
	color: #2ABA66;
	text-decoration: none;
	animation: 1s greenBoxShadow ease-out;
}

blockquote {
	font-style: normal;
	font-size: 12px;
	margin-left: 32px;
	padding-left: 8px;
}

.blockquote-green {
	border-left: 4px solid #2ABA66;
}

.blockquote-green:hover {
	border-left: 10px solid #2ABA66;
}

.blockquote-red {
	border-left: 4px solid red;
}

.blockquote-red:hover {
	border-left: 10px solid red;
}

.blockquote-yellow {
	border-left: 4px solid yellow;
}

.blockquote-yellow:hover {
	border-left: 10px solid yellow;
}

.blockquote-blue {
	border-left: 4px solid blue;
}

.blockquote-blue:hover {
	border-left: 10px solid blue;
}

.blockquote-purple {
	border-left: 4px solid purple;
}

.blockquote-purple:hover {
	border-left: 10px solid purple;
}
