<div class="col-md-4 summary">
  <a href="{{ .Permalink }}">
    <div class="card post">

        <img src="images/crepe.jpg" alt="Avatar" class="image card-img-top">


      <div class="card-block">
        <p class="card-title">{{ .Title }}</p>

        <p class="card-text">{{ .Description }}</p>
      </div>
      <div class="card-footer text-muted">
        Publié le {{ .Date.Format "2" }} {{ index $.Site.Data.mois_data.mois .Date.Month }} {{ .Date.Format "2006" }}
      </div>
    </div>
  </a>
</div>
