<footer>
  <div class="container">

  <div class="row">
    <h4><img src="/images/logo.png">{{ .Site.Title }} | Le blog</h4>
    <hr>
    <div class="col-md-6 col-xs-12">
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur faucibus lacinia dictum. In a ornare orci, at placerat elit.
        Aenean nec dui viverra, posuere nibh at, convallis leo.
        Aliquam dapibus diam eu sapien euismod, id tincidunt odio malesuada.
        Nunc imperdiet nulla ipsum, quis tristique lorem lacinia in. Quisque ac metus mauris.
        Morbi ac mi ac dui volutpat aliquam eget ut nibh. Praesent eget odio at purus lobortis
        convallis nec vitae risus. Sed mauris massa, placerat id dignissim eu, rutrum facilisis
        ligula. Maecenas vestibulum dolor a finibus sagittis. Etiam fringilla diam ut tellus
        porta tempus. Sed at lacinia nunc, in ullamcorper.</p>
        <p class="text-center">
          <a class="link-btn" href="http://www.cuistotducoin.com">Découvrir Cuistot du coin</a>
          <i class="fa fa-coffee green" aria-hidden="true"></i>
          <a class="link-btn" href="http://www.cuistotducoin.com">Qui sommes-nous ?</a>
        </p>
    </div>
    <div class="col-md-6 col-xs-12">
      <h4 class="text-center">Catégories</h4>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <blockquote class="blockquote-yellow">
            <p>Categorie 1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis.</p>
          </blockquote>
          <blockquote class="blockquote-purple">
            <p>Categorie 2</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis.</p>
          </blockquote>
          <blockquote class="blockquote-blue">
            <p>Categorie 3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis.</p>
          </blockquote>
        </div>
        <div class="col-md-6 col-xs-12">
          <blockquote class="blockquote-green">
            <p>Categorie 4</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis.</p>
          </blockquote>
          <blockquote class="blockquote-red">
            <p>Categorie 5</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis.</p>
          </blockquote>
        </div>
      </div>
      <p class="text-center">
        <a class="green social" href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
        <a class="green social" href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
      </p>
    </div>
    <hr>
    <div class="col-sm-12">
      <p class="text-center">
        Concocté avec &#10084; en Bretagne<br>
        &copy; {{ now.Format "2006" }} Cuistot du coin - Tous droits réservés.
      </p>
    </div>
  </div>
</div>
</footer>
