<nav class="navbar navbar-toggleable-sm bg-faded navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">
      <img src="/images/logo.png">{{ .Site.Title }} | Le blog
    </a>
    <div class="navbar-collapse collapse" id="navbar1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/post/">(Post Index)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.cuistotducoin.com">{{ .Site.Title }}</a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.cuistotducoin.com">Qui sommes-nous ?</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- dark -->
<nav class="navbar navbar-toggleable-sm bg-inverse navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2">
    Categories <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar2">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="/categories/categories1">Categorie 1</a></li>
      <li class="nav-item"><a class="nav-link" href="/categories/categories2">Categorie 2</a></li>
      <li class="nav-item"><a class="nav-link" href="/categories/categories3">Categorie 3</a></li>
      <li class="nav-item"><a class="nav-link" href="/categories/categories4">Categorie 4</a></li>
      <li class="nav-item"><a class="nav-link" href="/categories/categories5">Categorie 5</a></li>
    </ul>
  </div>
</nav>
