<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="block-newsletter">
          <h5 class="title-newsletter text-center text-uppercase">
            Soyez prévenu lors d'un nouvel atelier
          </h5>
          <div class="mx-auto form-newsletter">
            <input type="text" class="input-newsletter" autocomplete="off" placeholder="Je laisse mon email..." value="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
