<nav>
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<ul class="pager">
  {{ if .Paginator.HasPrev }}
	  <li class="previous pull-left"><a href="{{.Paginator.Prev.URL}}" title="{{ .Site.Data.l10n.pagination.newer }}"><span aria-hidden="true">&larr;</span> Nouveau {{ .Site.Data.l10n.pagination.newer }}</a></li>
  {{ else }}
    <li class="previous disabled pull-left"><a href="#"><span aria-hidden="true">&larr;</span> Nouveau</a></li>
  {{ end }}

  <li class="counter disabled"><a href="#" class="text-center">{{ .Site.Data.l10n.pagination.page }} {{ .Paginator.PageNumber}} {{ .Site.Data.l10n.pagination.of }} {{.Paginator.TotalPages}}</a></li>

	{{ if .Paginator.HasNext }}
  <li class="next pull-right"><a href="{{.Paginator.Next.URL}}" title="{{ .Site.Data.l10n.pagination.older }}">{{ .Site.Data.l10n.pagination.older }} Ancien <span aria-hidden="true">&rarr;</span></a></li>
  {{ else }}
  <li class="next disabled pull-right"><a href="#">Ancien <span aria-hidden="true">&rarr;</span></a></li>
  {{ end }}
</ul>
{{ end }}
</nav>
