{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container main">
    <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-block">
              <p class="card-title">{{ .Title }}</p>
              <p class="card-text">Page non trouvée !!!</p>
            </div>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">

        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
